<plugin name='hibernate-audit-log' version='0.10-SNAPSHOT' grailsVersion='2.1 &gt; *'>
  <author>Andre Steingress</author>
  <authorEmail>me@andresteingress.com</authorEmail>
  <title>Grails Hibernate Audit Event Log Plugin</title>
  <description>Enables audit logging for Grails domain classes based on the Hibernate datastore.
</description>
  <documentation>https://github.com/andresteingress/grails-auditlog</documentation>
  <type>HibernateAuditLogGrailsPlugin</type>
  <resources>
    <resource>spring.resources</resource>
    <resource>grails.plugin.hibernateaudit.AuditLogEvent</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins>
    <runtime>
      <plugin group='org.grails.plugins' name='hibernate' version='2.1.5' />
    </runtime>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>